@charset "ISO-8859-1";



.centered {
 	left: -5px;
    position:absolute;
    text-align:center;
    bottom: 25px;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
}



img {
	transition: box-shadow .3s;
	border-radius: 5%;
}

img:hover {
	box-shadow: 0 0 20px rgba(33,33,33,.2); 
}

#plateauMaster, #plateauAgent{
	min-width: 1200px;
}

.col{
	margin-bottom:5px;
}

.form-row{
	width: max-content;
	margin-left:auto;
	margin-right:auto;
}

