<!DOCTYPE html>
<html>
	<head>
		<title>Choix de l'Equipe</title>
	</head>
	<body>
		
		<section id="choixEquipe">
			<header>
				<h1 class="display-4 text-center form-header mb-3">Choisis ton équipe !</h1>
			</header>
			
			<form>
				<div class="form-group w-75 mx-auto p-3">
					<select name="choixEquipe" class="custom-select custom-select-lg mb-3" required>
						<option value="Rouge">Rouge</option>
	  					<option value="Bleue">Bleue</option>
					</select>
					
					<div>
						<input class="btn btn-outline-primary mt-3" type="submit" id="btnChoix" Value="Submit" />
					</div>
				</div>
			</form>
		</section>
		
	</body>
</html>