<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		th:replace="~{layout.html :: layout(~{::title}, ~{::section})}">
	<head>
		<meta charset="ISO-8859-1">
		<title>Connexion</title>
	</head>
	<body>
		
		<section id ="connexion">
		
			<header>
				<h1  class="display-4 text-center">Connexion</h1>
			</header>
		
			<form class="needs-validation" id="connexionForm" novalidate>
				<div class="form-group w-75 p-3 mx-auto">
					
					<div>
						<label for="InputId">Identifiant</label>
						<input  type="text" class="form-control" id="InputId" name="ID" aria-describedby="identifiantHelp" placeholder="Entrez votre identifiant" required="true"/>
						<small id="identifiantHelp" class="form-text text-muted">Votre "GameTag"</small>
						<div class="invalid-feedback">
			        		Veuillez entrer un Identifiant valide
			      		</div>
			      		<div class="valid-feedback">
			       		 	OK !
			      		</div>
					</div>
					
					<div>
						<label for="InputPassword">Mot de passe</label>
						<input type="password" class="form-control required" id="InputPassword" name="PASSWORD" placeholder="Entrez votre mot de passe" required="true"/>
						<div class="invalid-feedback">
			        		Veuillez entrer un mot de passe
			      		</div>
			      		<div class="valid-feedback">
			        		OK !
			      		</div>
					</div>
					
					<div class="link">
	    				<a href="#inscription">Pas de compte ? Inscrivez-vous !</a>
	  				</div>
					
					<div>
						<input class="btn btn-outline-primary mt-3" type="submit" id="btnConnexion" Value="Connexion" />
					</div>
				</div>
			
			</form>
			
		</section>
		
		
	</body>
</html>