<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		th:replace="~{layout.html :: layout(~{::title}, ~{::section})}">
	<head>
		<title>Connexion</title>
	</head>
	<body>
		
		<section id ="connexion">
		
			<header>
				<h1  h1 class="display-4 text-center form-header mb-3">Connexion</h1>
			</header>
		
			<form method="POST" id="connexionForm">
				<div class="form-group w-75 p-3 mx-auto">
					
					<div>
						<label for="InputId">Identifiant</label>
						<input  type="text" class="form-control" id="InputId" name="username" aria-describedby="identifiantHelp" th:value="${joueur?.username}"/>
						<small id="identifiantHelp" class="form-text text-muted">Votre "GameTag"</small>

			      		<div class="valid-feedback">
			       		 	OK !
			      		</div>
			      		<div  th:errors="${joueur.username}" class="alert alert-danger" role="alert">Message d'erreur par défaut</div>
					</div>
					
					<div>
						<label for="InputPassword">Mot de passe</label>
						<input type="password" class="form-control" id="InputPassword" name="password" placeholder="Entrez votre mot de passe" th:value="${joueur?.password}"/>

			      		<div th:errors="${joueur.password}" class="alert alert-danger" role="alert">Message d'erreur par défaut</div>
					</div>
					
					<div class="link">
	    				<a th:href="@{inscription}">Pas de compte ? Inscrivez-vous !</a>
	  				</div>
					
					<div>
						<input class="btn btn-outline-primary mt-3" type="submit" id="btnConnexion" Value="Connexion" />
					</div>
				</div>
			
			</form>
			
		</section>
		
		
	</body>
</html>