<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		th:replace="~{layout.html :: layout(~{::title}, ~{::section})}">
<head>
<title>S'inscrire</title>

</head>
<body>
	<section id="inscription">
		<header>
			<h1 class="display-4 text-center form-header mb-3">Inscrivez-vous !</h1>
		</header>
	
		<form method="POST">
			
			<div class="form-group mx-auto p-3 w-75">
				<div class="form-row w-100">
					<div class="form-group col-md-6">
						<label class="ml-2" for="nom">Nom</label>
						<input id="nom" class="form-control" type="text" name="nom" th:value="${utilisateurForm?.nom}"/>
						<div th:errors="${utilisateurForm.nom}" class="alert alert-danger" role="alert">Message d'erreur par défaut</div>
					</div>
				
					<div class="form-group col-md-6">
						<label class="ml-2" for="prenom">Prénom</label>
						<input id="prenom" class="form-control" type="text" name="prenom" th:value="${utilisateurForm?.prenom}"/>
						<div th:errors="${utilisateurForm.prenom}" class="alert alert-danger" role="alert">Message d'erreur par défaut</div>
					</div>
				</div>
					
				<div class="form-group">
					<label class="ml-2" for="username">Username</label>
					<input id="username" class="form-control" type="text" name="username" th:value="${utilisateurForm?.username}"/>
					<div th:errors="${utilisateurForm.username}" class="alert alert-danger" role="alert">Message d'erreur par défaut</div>
				</div>
				
				<div class="form-row w-100">
				 	<div class="form-group col-md-6">
						<label class="ml-2" for="password">Mot de passe</label>
						<input id="password" class="form-control" type="password" name="password" th:value="${utilisateurForm?.password}"/>
						<div th:errors="${utilisateurForm.password}" class="alert alert-danger" role="alert">Message d'erreur par défaut</div>
		      			<div class="link">
		   					<a th:href="@{connexion}">Déjà inscris ? Connectez-vous !</a>
						</div>
					</div>
						
		  			<div class="form-group col-md-6">
						<label class="ml-2" for="password2">Confirmation mot de passe</label>
						<input id="password2" class="form-control" type="password" name="password2" th:value="${utilisateurForm?.password2}"/>
						<div th:errors="${utilisateurForm.password2}" class="alert alert-danger" role="alert">Message d'erreur par défaut</div>
					</div>
				</div>

				<div>
					<button type="submit" class="btn btn-outline-primary mt-3" id="btnInscription">Inscription</button>
				</div>
			</div>
		</form>
		</section>
</body>
</html>