<nav>
	<ul class="nav justify-content-center">
		<li class="nav-item" id = "navPresentation"><a class="nav-link" th:href="@{presentation}">Présentation</a></li>
		<li class="nav-item" id = "navConnection"><a class="nav-link" th:href="@{connexion}">Connexion</a></li>
		<li class="nav-item" id = "navInscription"><a class="nav-link" th:href="@{inscription}">Inscription</a></li>
		<li class="nav-item" id = "navJoueurs"><a class="nav-link" th:href="@{listeJoueurs}">Joueurs</a></li>
	</ul>
</nav>