<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		th:replace="~{layout.html :: layout(~{::title}, ~{::section})}">
	<head>
		<title>Présentation</title>
	</head>
	<body>
		<section id = "presentation">
		
			<h1>Trouvez les bons noms de codes</h1>
			
			<p>
				Codenames est un jeu d’association d’idées pour 2 à 8 joueurs (voire plus !) dans lequel, répartis en deux équipes,
				 vous incarnez soit un maître-espion, soit un agent en mission. Pour retrouver sous quel nom de code se cachent vos
				  informateurs, écoutez bien les indices donnés par les deux Maîtres-Espions et prenez garde à ne pas contacter un 
				  informateur ennemi, ou pire… le redoutable assassin !
			</p>
			
			<h1>Principe du jeu</h1>
			
			<p>
				Les deux Maîtres-Espions connaissent l’identité des 25 Informateurs sur la table,
				 mais leurs Agents, eux, ne voient que leur Nom de Code. Les équipes rivalisent d’ingéniosité
				  pour être les premiers à prendre contact avec tous leurs Informateurs. Pour cela, les Maîtres-Espions
				   donnent un et un seul mot d’indice pouvant désigner plusieurs Noms de Code sur la table. Leurs Agents
				    essayent, dès lors, de deviner les Noms de Code de leur couleur et d’éviter ceux de l’autre équipe.
				     Et par dessus tout, tout le monde veut éviter l’Assassin !

				La première équipe qui identifie tous ses Informateurs gagne la partie.
			</p>
			
			<h1>Points forts</h1>
			
			<ul>
				<li>Un jeu d’association d’idées fin et original qui fait déjà sensation à l’étranger</li>
				<li>Vlaada Chvatil, auteur prodige (Through the Ages, Dungeon Lords…) s’attaque enfin aux jeux d’ambiance !</li>
				<li>400 mots et 160 dispositions possibles pour une rejouabilité infinie</li>
			</ul>
			
			<p>
				<b>Matériel</b> : 8 tuiles Informateur bleu, 8 tuiles Informateur rouge, 1 tuile Agent Double, 7 tuiles Témoin,
				 1 tuile Assassin, 200 cartes Nom de Code, 40 cartes Clé, 1 support de carte Clé et 1 livret de règles
			</p>
			
			<p>
				<b>Auteur</b> : Vlaada Chvátil
			</p>
			
			<p>
				<b>Illustrateur</b> : Tomáš Kucerovsky
			</p>
		</section>
		
	</body>
</html>